body{
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: rgb(199, 237, 255);
}
nav {
    display: flex;
    justify-content: center;
    background-color: #62bff5;
}
nav a {
    color: #0c004e;
    text-decoration: none;
    padding: 15px 20px;
    display: table;
    font-size: 30px;
}
nav a:hover {
    background-color: #4288c9;
}
.logo{
    background-color: white;
    color: #ffffff;
    padding: 0px;
    text-align: center;
}
.image{
    align-items: center;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(199, 237, 255);
    border-radius: 10px;
    background-color: rgb(199, 237, 255);
    text-align: center;
    
}
.texto{
    align-items: center;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(199, 237, 255);
    border-radius: 10px;
    background-color: rgb(199, 237, 255);
    text-align: center;

}
.pora{
    align-items: center;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(199, 237, 255);
    border-radius: 10px;
    background-color: rgb(199, 237, 255);
    text-align: center;
}
p{
    font-size: 17px;
}
h1{
    font-size: 23px;
}
h3{
    font-size: 20px;
    color: #424fc9;
}
button{
    color: aliceblue;
    background-color: #0c004e;
    text-decoration: none;
    padding: 15px 20px;
    display: center;
    font-size: 30px;
    border-radius: 10%;
    border-color: aliceblue;
    width: 300px;
}
button:hover{
    background-color: #4288c9;
}
footer{
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    text-align: center;
    color: #424fc9;
    background-color: white;
}